html {
  font-family: Arial, Helvetica;
  font-size: 14px;
}

[data-theme="monokai-pro"] {
  --color-dark2: #19181a;
  --color-dark1: #221f22;
  --color-background: #2d2a2e;
  --color-text: #fcfcfa;
  --color-accent1: #ff6188;
  --color-accent2: #fc9867;
  --color-accent3: #ffd866;
  --color-accent4: #a9dc76;
  --color-accent5: #78dce8;
  --color-accent6: #ab9df2;
  --color-dimmed1: #c1c0c0;
  --color-dimmed2: #939293;
  --color-dimmed3: #727072;
  --color-dimmed4: #5b595c;
  --color-dimmed5: #403e41;
}

[data-theme-type="dark"] {
  --color-panel: var(--color-dimmed5);
  --color-focus: var(--color-accent3);
  --color-focus-hover: var(--color-accent4);
  --color-contrast-panel: var(--color-dark1);
  --color-contrast-border: var(--color-dark2);
}

[data-theme="monokai-pro-light"] {
  --color-dark2: #d3cdcc;
  --color-dark1: #ede7e5;
  --color-background: #faf4f2;
  --color-text: #29242a;
  --color-accent1: #e14775;
  --color-accent2: #e16032;
  --color-accent3: #cc7a0a;
  --color-accent4: #269d69;
  --color-accent5: #1c8ca8;
  --color-accent6: #7058be;
  --color-dimmed1: #706b6e;
  --color-dimmed2: #918c8e;
  --color-dimmed3: #a59fa0;
  --color-dimmed4: #bfb9ba;
  --color-dimmed5: #d3cdcc;
  --color-panel: #fefaf9;
  --color-light: #ffffff;
}

[data-theme-type="light"] {
  --color-focus: var(--color-accent1);
  --color-focus-hover: var(--color-accent6);
  --color-contrast-panel: var(--color-panel);
  --color-contrast-border: var(--color-dark1);
}

html body {
  background-color: #19181a;
  color: #fcfcfa;
  max-width: 768px;
  margin: auto;
  padding: 24px;
}

html body h1 {
  font-size: 1.5rem;
}

html body p {
  color: #c1c0c0;
}

html body a {
  color: #727072;
  text-decoration: none;
}

html body a:hover {
  color: #ffd866;
}

html body hr {
  background-color: #403e41;
  border: none;
  height: 1px;
}

html body img {
  width: 100%;
  height: auto;
}

footer nav {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: auto auto;
}

footer nav div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
